obj
*.orig
*.o
*.gch
*.bak
*.stl
*.gcode
.ide
.pioenvs
.piolibdeps
*.gcode
*.b#?
*.s#?
obj
*.orig
*.o
*.gch
*.bak
*.stl
*.gcode
.ide
.pioenvs
.piolibdeps
*.gcode
*.b#?
*.s#?
obj
*.orig
*.o
*.gch
*.bak
*.stl
*.gcode
.ide
.pioenvs
.piolibdeps
*.gcode
*.b#?
*.s#?
todolist-*-*.db
